
div{
    background-color:rgb(28, 172, 255);
    align-content: center;
}

ul{
    display:flex;
    float:inline-end;
    position:sticky;
    align-items:center;
}

.navItems{
    list-style-type:none;
    padding: 2vb;
}